<!DOCTYPE html>
<html>
<head>
    <title>Example Login Form</title>
</head>
<body>
<form action="/login" method="post">
    <!-- user input-->
    Codechef Handle:<br>
    <input type="text" name="username" placeholder="Username" required><br><br>
    <!-- submit button -->
    <input type="submit" value="login">
</form>
</body>
</html>