<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - Login </title>

  <link rel="stylesheet" href="Frontend/Login/css/reset.css">

    <link rel="stylesheet" href="Frontend/Login/css/style.css" media="screen" type="text/css" />

</head>

<body>

<form action="/login" method="post">
  <div class="wrap">
		<div class="avatar">
      <img src="Frontend/Login/codechef-logo.png" style="width:60px;height:60px;">
		</div>
		<input type="text" name="username" placeholder="Codechef Username" required>
		<div class="bar">
		<input type="text" name="username1" placeholder="Hackerearth Username">
		<div class="bar">
		<input type="text" name="username2" placeholder="Codeforces Username">
		<div class="bar">
			<i></i>
		</div>
		<!-- <a href="" class="forgot_link">forgot ?</a> -->
		<button>Sign in</button>
	</div>
</form>

  <script src="js/index.js"></script>

</body>

</html>