<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="Frontend/About Us/style.css">
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">CODER'S GYM</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">About Us</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Contact Us
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Action</a>
	          <a class="dropdown-item" href="#">Another action</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>

	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>
	<br><br><br>
	<h2 style="text-align: center;">Mentor</h2>

	<div class="mentor">
		<img src="/Frontend/About Us/padmavati.jpg">
	</div>

	<div style="background-color: black; width: 200px; margin: 0px auto;">
    		<h5> Dr. Padmavati Khadnoor</h5>
    </div>



	<br><br><br>
	<h2 style="text-align: center;">Developers</h2>
	<br>
	<div class="container">
  <div class="card card0">
    <div class="border">
      <h4>Aadrit Aggarwal</h4>

      <div class="icons">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <i class="fa fa-github" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
       	<i class="fa fa-facebook" aria-hidden="true"></i>

      </div>

    </div>
    <div style="background-color: black;">
    	<h5> Frontend Developer</h5>
    </div>

  </div>
  <div class="card card1">
    <div class="border">
      <h4>Sumukh</h4>
      <div class="icons">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <i class="fa fa-github" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>

    </div>
    <div style="background-color: black;">
    	<h5> Backend Developer</h5>
  	</div>

  </div>
  <div class="card card2">
    <div class="border">
      <h4>Naman Mittal</h4>
      <div class="icons">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <i class="fa fa-github" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
    </div>
    <div style="background-color: black;">
    	<h5> Backend Developer</h5>
  	</div>
  </div>
  <div class="card card3">
    <div class="border">
      <h4>Piyush Sharma</h4>
      <div class="icons">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <i class="fa fa-github" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
    </div>
    <div style="background-color: black;">
    	<h5> Backend Developer</h5>
  	</div>
  </div>
  <div class="card card4">
    <div class="border">
      <h4>Narendar</h4>
      <div class="icons">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <i class="fa fa-github" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
    </div>
    <div style="background-color: black;">
    	<h5> Frontend Developer</h5>
    </div>
  </div>
</div>

</body>
</html>